name: Project CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - name: Install PlatformIO
        run: |
          curl -fsSL -o get-platformio.py https://raw.githubusercontent.com/platformio/platformio-core-installer/master/get-platformio.py
          python3 get-platformio.py
      
      - name: Build project
        run: ~/.platformio/penv/bin/pio run
      
      - name: Check code formatting
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format
          ./format.sh
          git diff --exit-code